<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome to hiiiiii Home</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />

</head>
<body>
<div class="container text-center">

<form th:action="@{/deleted3}" method="post" 
      style="max-width: 600px; margin: 0 auto;"
      th:object="${delete}" >
      <div class="m-3">
      <div class="form-group row">
      <label class="col-form-label col-4">Give women product number</label>
      <div class="col-8">
       <input type="text"  class="form-control" th:field="*{id}" required/>
      </div>
     
      </div>
      <div>
      <button type="submit" class="btn btn-primary">DELETE</button>
      
      </div>
      </div>
      
      </form>


</div>
</body>
</html>